/* Folha de estilos GLOBAL
Será usada por elementos em todos os componentes
da aplicação React */

/* Ajuste do Box Model com box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* reset */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}
